<!DOCTYPE html>
<html>
<head>
    <title>JSON RPC Index</title>
</head>
<body>
    <h1>Welcome to JSON RPC Index</h1>
    <p>This is the JSON RPC Index page.</p>

    <form id="jsonRpcForm">
        <label for="methodName">Method Name:</label>
        <input type="text" id="methodName" name="methodName"><br>
        <label for="params">Parameters:</label>
        <input type="text" id="params" name="params"><br>
        <input type="submit" value="Submit">
    </form>

    <div id="result"></div>
</body>
</html>

